<div dir="ltr" style="background-color: black;">
    <table valign="top" bgcolor="#FF9900" width="100%" role="presentation" cellspacing="0" cellpadding="0"
        style="background-color:rgb(255,153,0);table-layout:fixed;vertical-align:top;min-width:320px;margin:0px auto;border-spacing:0px;border-collapse:collapse;width:500px">
        <tbody>
            <tr valign="top" style="vertical-align:top">
                <td valign="top" style="word-break:break-word;vertical-align:top;border-collapse:collapse">
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:transparent">
                            <div
                                style="border-collapse:collapse;display:table;width:500px;background-color:transparent">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px;border-style:solid;border-color:transparent;padding:5px 0px">
                                            <br></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:black;">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:50px 50px 5px">
                                            <div style="line-height:15.6px;padding:10px">
                                                <div style="line-height:14px">
                                                    <p style="line-height:16px;margin:0px"><span
                                                            style="color:rgb(255, 255, 255);font-size:16px">
                                                            <font face="verdana, sans-serif"><b>Dear {{ data.name }},</b></font>
                                                        </span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:black">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:25px 0px 0px">
                                            <div align="center" style="padding-right:0px;padding-left:0px"><img
                                                    align="center" border="0"
                                                    src="https://ci4.googleusercontent.com/proxy/5DzZBAAWTWUPpcihy_Ps34RhDCazv3G5E1FgKO3xZ1gky80E8DzyHPhWfOtHFcSnX1eXeBogkCwi9D1iFh1O-KJOul_P32zcIDh3QDmbbLyFlrFjhLy1p7dDSd1VCwHITonnIQ9tj1uUcBjrXJ8BxOxe80F5UOlC34kNry2pgBg4eaE19EB2aQ9b=s0-d-e1-ft#https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/53601_111631/Personal%20message/divider.png"
                                                    alt="Image" title="Image" width="634"
                                                    style="outline:none;clear:both;border:0px;height:auto;float:none;width:484px;max-width:634px;display:block"
                                                    class="CToWUd" data-bit="iit"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:black; color: white;">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:35px 50px 5px">
                                            <div style="line-height:19.5px;padding:15px 10px 10px">
                                                <div style="font-size:12px;line-height:18px">
                                                    <p style="font-size:14px;line-height:25px;margin:0px">
                                                        <br><br>
                                                        We congratulate you for successfully attending the The Secure Way on 
                                                        14th of November 2024. Your participation is highly appreciated.
                                                        <br><br><br>
                                                        As a token of acknowledgement, we have shared the certificate which we hope 
                                                        you can use in your CV and also can showcase on social media.
                                                        <br><br><br>
                                                        Don't forget to tag AWS Cloud Club LPU and use the hashtag #AWSCloudClubLPU
                                                        <br><br><br>
                                                        Kind Regards<br>
                                                        Team AWS Cloud Club<br>
                                                        Lovely Professional University<br><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div style="border-width:0px;border-style:solid;padding:5px 0px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                role="presentation" valign="top"
                                                style="table-layout:fixed;vertical-align:top;border-spacing:0px;border-collapse:collapse;min-width:100%">
                                                <tbody>
                                                    <tr valign="top" style="vertical-align:top"></tr>
                                                </tbody>
                                            </table><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>