<div dir="ltr" style="background-color: black;">
    <table valign="top" bgcolor="#FF9900" width="100%" role="presentation" cellspacing="0" cellpadding="0"
        style="background-color:rgb(255,153,0);table-layout:fixed;vertical-align:top;min-width:320px;margin:0px auto;border-spacing:0px;border-collapse:collapse;width:500px">
        <tbody>
            <tr valign="top" style="vertical-align:top">
                <td valign="top" style="word-break:break-word;vertical-align:top;border-collapse:collapse">
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:transparent">
                            <div
                                style="border-collapse:collapse;display:table;width:500px;background-color:transparent">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px;border-style:solid;border-color:transparent;padding:5px 0px">
                                            <br></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: transparent;">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:rgb(255,255,255)">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:0px 0px 0px; background-color: black;">
                                            <div style="line-height:15.6px;padding:10px">
                                                <div style="line-height:14px">
                                                    <img src="https://i.imgur.com/mBB062L.png"
                                                        style="width:100%;height:auto;max-width:650px;outline:none;text-decoration:none;display:block;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:black;">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:50px 50px 5px">
                                            <div style="line-height:15.6px;padding:10px">
                                                <div style="line-height:14px">
                                                    <p style="line-height:16px;margin:0px"><span
                                                            style="color:rgb(255, 255, 255);font-size:16px">
                                                            <font face="verdana, sans-serif"><b>👋 Hey {{ data.fullname }}!</b></font>
                                                        </span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:black">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:25px 0px 0px">
                                            <div align="center" style="padding-right:0px;padding-left:0px"><img
                                                    align="center" border="0"
                                                    src="https://i.imgur.com/abHrSrF.png"
                                                    alt="Image" title="Image" width="634"
                                                    style="outline:none;clear:both;border:0px;height:auto;float:none;width:484px;max-width:634px;display:block"
                                                    class="CToWUd" data-bit="iit"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:transparent">
                        <div
                            style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word;background-color:black; color: white;">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div
                                            style="border-width:0px 8px;border-style:solid;border-color:rgb(255,153,0);padding:35px 50px 5px">
                                            <div style="line-height:19.5px;padding:15px 10px 10px">
                                                <div style="font-size:12px;line-height:18px">
                                                    <p style="font-size:14px;line-height:25px;margin:0px">We hope you
                                                        are enjoying your life at LPU. We saw that you have registered
                                                        for the event: "<b style="color: rgb(0, 255, 34);">The Secure Way</b>"
                                                        hosted by <b style="color: rgb(255,153,0);">AWS Cloud Club LPU</b>. We want to
                                                        make sure that you have all the necessary details for a
                                                        successful experience.<br><br>Event Details:<br>
                                                        <mark><b>Date: November 14th, 2024<br>Time: 10:00 AM to 1:00 PM || Duty Leaves will be
                                                        provided<br>(1 PM to 2 PM will be provided for Lunch Break.)
                                                        <br>Venue: 34-111 (Block 34, Room No. 111)</b>
                                                        </mark>
                                                        <br><br><u><i>Please know that you will
                                                        NOT be allowed to leave the venue during the time period of
                                                        10am to 1pm. If you have any CAs or Lab Evaluations after or at 10AM, then please attend those and come
                                                        to the event, if the time is in between the event hours then
                                                        you'll have to submit your ID cards and then only you'll be
                                                        allowed to leave the venue as per CA/LAB-Evaluation
                                                        timings.</u></i><br><br><b><u style="color: red;">
                                                        Note: Laptop &amp; charger are mandatory for all 
                                                        attendees,&nbsp;no entries will be
                                                        allowed otherwise.</u></b><br><br><b>Mandatory
                                                        Requirements:</b> To make the most of the session, it's essential to
                                                        bring your laptop and charger. Ensure your laptop is in good
                                                        working order and fully charged.<br><br>Punctuality Matters: Our
                                                        event kicks off promptly at 10:00 AM <b style="color: yellow;">and we have limited
                                                            seats</b> so late entry won't be possible if the reasons are
                                                        not valid(CA/LAB Evaluations). Arriving a bit earlier will help
                                                        you get settled and ensure a smooth start.<br><br><b>
                                                        <u>EVENT PASS</u></b><br>
                                                        <figure>
                                                            <div style="width:100%;display:flex;justify-content:center;align-items:center;">
                                                                <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{data.registration | urlencode}}%2C{{data.fullname | urlencode}} "
                                                                    alt="Event Pass" title="Event Pass"
                                                                    style="outline:none;clear:both;border:0px;height:auto;float:none;width:150px;max-width:150px;display:block"
                                                                    class="CToWUd" data-bit="iit">
                                                            </div>
                                                        </figure>
                                                    <br><br>
                                                    <p style="font-size:14px;line-height:25px;margin:0px">We're eagerly
                                                        anticipating your presence in the event. If you have any
                                                        questions or require further assistance, don't hesitate to reach
                                                        out to us.</p><br><br><b>Best regards,<br>AWS Cloud Club LPU<br><br></br><br>
                                                        </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="margin:0px auto;min-width:320px;max-width:650px;word-break:break-word">
                            <div style="border-collapse:collapse;display:table;width:500px">
                                <div style="min-width:320px;max-width:650px;display:table-cell;vertical-align:top">
                                    <div style="width:500px">
                                        <div style="border-width:0px;border-style:solid;padding:5px 0px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                role="presentation" valign="top"
                                                style="table-layout:fixed;vertical-align:top;border-spacing:0px;border-collapse:collapse;min-width:100%">
                                                <tbody>
                                                    <tr valign="top" style="vertical-align:top"></tr>
                                                </tbody>
                                            </table><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>